.chat-side
  .side-bar_user-name
    .top-items
      .top-items__name
        masa
      .top-items__icons
        =link_to "#", class:"icon" do
          =icon('far', 'edit')
        =link_to "#", class:"icon" do
          =icon('fas', 'cog')  
      


      
             
  .side-bar__groups-list  
    =link_to "#", class:"group" do
      .group
        .group--group-name
          techcamp
        .group--latest-message
          まだメッセージがありません

    =link_to "#", class:"group" do
      .group
        .group--group-name
          techcamp
        .group--latest-message
          まだメッセージがありません


