

.chat-main {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.chat-main__group-info {
  height: 100px;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
}

.chat-main__message-list {
  background-color:#fafafa;
  height: calc(100vh - 100px - 90px);
}


.chat-main__message-form {
  background-color: #d2d2d2;
  height: 90px;
  padding: 20px 40px;
}

.current-group {
  margin-top: 35px;
  margin-bottom: 7.5px;
  margin-left: 40px;
  color: #333333;
  font-size: 20px;
}

.menber-list {
  color: #999999;
  font-size: 12px;
  margin-top: 7.5px;
  margin-left: 40px;
}

.chat-main__group-info {
  display: flex;
  justify-content: space-between
}

.edit-btn {
  border: 1px solid #38aef0;
  color: #38aef0;
  margin: 28px 20px 28px 20px;
  // text-align: center;
  width: 72px;
  line-height: 40px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  
}


.message--up-message {
  padding: 20px;
  padding-left: 40px;
  padding-bottom: 6px;
  color: #333333;
  font-size: 16px;
}

.message--up-message-second {
padding: 5px;
padding-left: 40px;
padding-bottom: 46px;
color: #434a54;
font-size: 14px;
}

form {
  display: flex;
  .input-box {
    display: flex;
    width: 100%;
    position: relative;
    &__text {
      height: 50px;
      width: 100%;
      color: #434a54;
      border-style: none;
      padding: 0px 40px 0 10px;
    }
    &__image {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      font-size: 1.3rem;
     
      &__file {
       display: none;
      }
    } 
  }


  .submit-btn {
    width: 100px;
    height: 50px;
    padding: 0 30px;
    margin-left: 15px;
    background-color: #38aef0;
    color: white;
    cursor: pointer;
   
  }

}