

.chat-side {
  height: 100vh;
  width: 300px;
  background-color: #253141;
  .side-bar_user-name {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    .top-items {
      height: 20px;
      width: 260px;
      margin: 0 20px;
      color: #ffffff;
      display: flex;
      justify-content: space-between;
      line-height: center;
        .top-items__name {
        font-size: 16px;
        }
          .current_user.name {
            text-decoration: none;
          }
        .top-items__icons {
        width: 60px;
        text-align: right;
        color: #ffffff;
        text-decoration: none;
        margin-left: 5px;
          .icon {
            color: #ffffff;
            text-decoration: none;
            }
        }
    }
  }
}




.side-bar__groups-list {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  .group {
    a{
      color:#ffffff;
      text-decoration: none;
      width: 260px;
      height: 105px;
      box-sizing: border-box;
    }
    color: #ffffff;
    
    .group--group-name {
      padding: 20px 5px 12px 20px;
      font-size: 15px;
    }
    .group--latest-message {
      padding: 0px 5px 40px 20px;
      font-size: 11px;
    }
  
  }
}